/RPGSimulator Server/dist/
/RPGSimulator Server/build/
/RPGSimulator Server/README.txt
/RPGSimulator Server/data/
/RPGSimulator Common/build/
/RPGSimulator Common/dist/
/RPGSimulator Client/build/
/RPGSimulator Client/dist/
/RPGSimulator Client/data files/
